{% extends 'layouts/app/authlayout.html' %} {% block content %}
<br><br>
<div class="row">
  <div class="col">
    <center>
      <br>
      <img src="/static/img/logo.png" alt="Incamep Logo" class="" width="200">
      <br><br><br>
    </center>
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card border-light mb-3">
      <div class="card-body">
        <center>
          <h2 class="text-primary">Bienvenido</h2>
          <span>Ingresa tus credenciales</span>
        </center>
        <br>

        {% if form.errors %}
        <p class="text-muted">
          <small>Ha habido un error durante el intento de inicio de sesión. Esto puede deberse a:</small>
          <ul class="text-muted">
            <li> <small>El nombre de usuario y contraseña ingresados no coinciden.</small></li>
            <li> <small>El usuario ha sido deshabilitado.</small></li>
            <li> <small>El usuario no está habilitado como vendedor.</small></li>
          </ul>
          <small class="text-muted">
            Intente nuevamente, si el problema persiste, comuniquese con el administrador de sistemas.
          </small>
        </p>
        {% endif %} {% if next %} {% if user.is_authenticated %}
        <p>
          No tiene acceso para visualizar esta página. Por favor inicie sesión e intentelo de nuevo.
        </p>
        {% else %}
        <p>Inicie sesión para ver esta página.</p>
        {% endif %} {% endif %}
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="form-floating mb-3">
            <!--<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">@</span></div>-->
            <input type="text" class="form-control" id="userInput" aria-describedby="userHelp" , name="username"
              placeholder="Usuario" value="" onkeyup="this.value = this.value.toUpperCase();" />
            <label for="userInput" class="form-label">Usuario</label>
            <div id="userHelp" class="form-text">

            </div>
          </div>
          <div class="form-floating mb-3">

            <input type="password" class="form-control" name="password" value="" placeholder="Contraseña"
              id="passwordInput" onkeyup="this.value = this.value.toUpperCase();">
            <label for="passwordInput" class="form-label">Contraseña</label>
          </div>
          
          <br>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-block btn-primary">Ingresar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<!-- /.row root -->
{% endblock content %}