{% extends 'layouts/app/layout.html' %}

{% block content %}
<form id="save" action="" method="POST" class="h-100">
    {% csrf_token %}
    <div id="client-section" class="hiddenn h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="card border-light mb-3">
                    <div class="card-body">
                        <p class="card-text">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="text-bold text-center">Seleccionar Cliente</h4>
                                    <select id="client_selector" class="form-select" placeholder="SOM">
                                        <option value="{{order.client.pk}}">{{order.client.social_reason}}</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-12 d-grid gap-2">
                                    <button type="button" class="btn btn-primary"
                                        onclick="selectClient();">Siguiente</button>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden" id="order-section">
        <h2 class="d-header">Notas de pedido</h2>
        <div class="row mb-3">
            <div class="col-12 col-md-6 col-lg-8">
                <div class="card border-light h-100">
                    <div class="card-body">
                        <h5 class="text-bold">Información General</h5>
                        <p class="card-text">
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-info-field">
                                        <p class="info-label">Razón social</p>
                                        <p class="info-text" id="client-rif">{{order.client.social_reason}}</p>
                                    </div>
                                    <div class="d-info-field">
                                        <p class="info-label">RUC</p>
                                        <p class="info-text" id="client-ruc">{{order.client.identification}}</p>
                                    </div>
                                    <div class="d-info-field">
                                        <p class="info-label">Teléfono</p>
                                        <p class="info-text" id="client-phone">{{order.client.phone}}</p>
                                    </div>
                                    <div class="d-info-field">
                                        <p class="info-label">Observación</p>
                                        <p class="info-text" id="client-observation">{{order.client.contact_2}}</p>
                                    </div>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card border-light">
                    <div class="card-body">
                        <h5 class="text-bold">Información de Registro</h5>
                        <div class="row">
                            <div class="col-12">
                                <div class="d-info-field">
                                    <p class="info-label">Nota del pedido</p>
                                    <p class="info-text" id="client-name">#{{ order.number }}</p>
                                </div>
                                <div class="d-info-field">
                                    <p class="info-label">Fecha</p>
                                    <p class="info-text" id="client-name"> {{order.date|date:"d/m/Y"}}</p>
                                </div>
                                <div class="d-info-field">
                                    <p class="info-label">Estado</p>
                                    {% if auth_user.is_admin %}
                                    <select name="status" class="form-select">
                                        <option {% if order.status == "INGRESADO" %} selected {% endif %}
                                            value="INGRESADO">Ingresado</option>
                                        <option {% if order.status == "APROBADO" %} selected {% endif %}
                                            value="APROBADO">Aprobado</option>
                                        <option {% if order.status == "ANULADO" %} selected {% endif %} value="ANULADO">
                                            Anulado</option>
                                        <option {% if order.status == "FACTURADO" %} selected {% endif %}
                                            value="FACTURADO">Facturado</option>
                                        <option {% if order.status == "BODEGA" %} selected {% endif %} value="BODEGA">
                                            Bodega</option>
                                    </select>
                                    {% else %}
                                    <p class="info-text" id="client-name">{{ order.status }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card border-light mb-3">
                    <div class="card-body">
                        <h5 class="text-bold">Dirección</h5>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="d-info-field secondary">
                                    <p class="info-label">Pais</p>
                                    <p class="info-text" id="address-country">{{order.client.country.name}}</p>
                                </div>

                            </div>
                            <div class="col-12 col-md-6">
                                <div class="d-info-field secondary">
                                    <p class="info-label">Provincia</p>
                                    <p class="info-text" id="address-province">{{order.client.province.name}}</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="d-info-field secondary">
                                    <p class="info-label">Cantón</p>
                                    <p class="info-text" id="address-city">{{order.client.city.name}}</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="d-info-field secondary">
                                    <p class="info-label">Parroquia</p>
                                    <p class="info-text" id="address-parish">{{order.client.parish.name}}</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="d-info-field secondary">
                                    <p class="info-label">Zona</p>
                                    <p class="info-text" id="address-zone">{{order.client.zone.name}}</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="d-info-field secondary">
                                    <p class="info-label">Calle</p>
                                    <p class="info-text" id="address-street">{{order.client.street}}</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="d-info-field secondary">
                                    <p class="info-label">Número</p>
                                    <p class="info-text" id="address-number">{{order.client.street_number}}</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="d-info-field secondary">
                                    <p class="info-label">Intersección</p>
                                    <p class="info-text" id="address-interception">{{order.client.interception}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card border-light mb-3">
                    <div class="card-body">
                        <h5 class="text-bold">Información de contacto</h5>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="d-info-field">
                                    <p class="info-label">Correo electronico</p>
                                    <input type="email" name="client_email" id="client-email" value="{{order.email}}"
                                        class="info-text" required>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="d-info-field">
                                    <p class="info-label">Dirección de entrega</p>
                                    <input type="text" name="delivery_address" value="{{order.delivery_address}}"
                                        class="info-text">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 d-flex align-items-start gap-2">
                                <select id="transport_selector" name="transport" class="form-select" placeholder="SOM"
                                    required>
                                    <option value="{{order.transport.pk}}">{{order.transport.name}}</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="d-info-field">
                                    <p class="info-label">Condiciones de pago</p>
                                    <select name="payment_method" id="" class="form-select">
                                        <option value="CONTADO" {% if order.payment == "CONTADO" %}selected{% endif %}>
                                            Contado</option>
                                        <option value="CREDITO" {% if order.payment == "CREDITO" %}selected{% endif %}>
                                            Credito</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="d-info-field">
                                    <p class="info-label">Pedido por</p>
                                    <input type="text" name="request_by" value="{{order.request_by}}" class="info-text"
                                        required>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="d-info-field secondary">
                                    <p class="info-label">Dirección de Establecimiento</p>
                                    <p class="info-text" id="client-deliver-address">-</p>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="d-info-field">
                                    <p class="info-label">Observaciones nota de pedido</p>
                                    <input type="text" name="comment" value="{{order.comment}}"
                                        placeholder="Escribir observacion especifica de la nota de pedido"
                                        class="info-text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card border-light mb-3" style="min-height: 408px;">
                    <div class="card-body">
                        <div class="card-text text-bold text-upper d-flex justify-content-between align-items-center">
                            <p class="text-bold">Productos</p>
                            <a href="#clientSearchModal" type="button" data-bs-toggle="modal"
                                class="btn btn-sm btn-primary">Añadir
                                Producto</a>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-unstyled text-center" id="checkout-table">

                                <thead>
                                    <tr class="text-center">
                                        <th></th>
                                        <th>Codigo <br> Articulo</th>
                                        <th>Descripción</th>
                                        <th>Cantidad</th>
                                        <th>U/M</th>
                                        <th>P.V.P <br> Unitario <br> Sugerido</th>
                                        <th>Descuento <br> %</th>
                                        <th>Precio Venta Unitario <br> S/IVA</th>
                                        <th>Total Valor de Venta <br> S/IVA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(product,index) in choosed_products" :key=index>
                                        <td><button class="btn btn-sm btn-outline-danger"
                                                @click="removeProduct(index)">X</button></td>
                                        <td>{$ product.code $}</td>
                                        <td>{$ product.name $}</td>
                                        <td>
                                            <input type="number" step="0.01" min="1" v-model.number="product.count">
                                        </td>
                                        <td>{$ product.measure $}</td>
                                        <td>
                                            <div class="placeholder prepend" data-placeholder="$">
                                                <input type="number" step="0.01" min="0" v-model.number="product.price"
                                                    :disabled="!product.is_promotion">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="placeholder append" data-placeholder="%">
                                                <input type="number" step="0.01" min="0" max="100"
                                                    v-model.number="product.discount" :disabled="product.is_promotion">
                                            </div>
                                        </td>
                                        <td>{$ (product.price - product.price * (product.discount / 100)).toFixed(4) $}
                                        </td>
                                        <td>{$ (product.count * (product.price - product.price * (product.discount /
                                            100))).toFixed(4) $}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card border-light mb-3">
                    <div class="card-body">
                        <p class="text-bold">Resumen</p>
                        <div class="row">
                            <div class="col-12">
                                <div class="d-info-field secondary">
                                    <p class="info-label">venta bruta</p>
                                    <p class="info-text" id="total-gross">{$ gross_value.toFixed(2) $}</p>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="d-info-field secondary">
                                    <p class="info-label">descuento</p>
                                    <p class="info-text" id="total-discount">{$ discount.toFixed(2) $}</p>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="d-info-field secondary">
                                    <p class="info-label">Total valor venta</p>
                                    <p class="info-text" id="total-sell-value">{$ subtotal.toFixed(2) $}</p>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="d-info-field secondary">
                                    <p class="info-label">iva (12%)</p>
                                    <p class="info-text" id="total-iva">{$ iva.toFixed(2) $}</p>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="d-info-field secondary">
                                    <p class="info-label">Total a pagar</p>
                                    <p class="info-text" id="total-value">{$ total.toFixed(2) $}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" name="client">
        <!-- <input type="hidden" name="client_code"> -->
        <input type="hidden" name="products">
        <input type="hidden" id="products" value="{{products}}">

        <div class="d-flex justify-content-end gap-2 pb-3">
            <button type="submit" class="btn btn-primary">Guardar <i class="fa fa-save"></i></button>
        </div>
    </div>

</form>
<script type="text/javascript">
    function validateClient() {
        // TODO Validar
        // TODO Mostrar mensaje de error
        return true;
    }

    function selectClient() {
        if (!validateClient()) {
            return;
        }
        var clientSection = document.getElementById('client-section');
        // var orderSection = document.getElementById('business-section');
        var orderSection = document.getElementById('order-section');

        orderSection.classList.remove('hidden');
        clientSection.classList.add('hidden');
    }

    function selectBusiness() {
        if (!validateClient()) {
            return;
        }
        var clientSection = document.getElementById('business-section');
        var orderSection = document.getElementById('order-section');

        orderSection.classList.remove('hidden');
        clientSection.classList.add('hidden');
    }

    function showClientSelector() {
        if (!validateClient()) {
            return;
        }
        var clientSection = document.getElementById('order-section');
        var orderSection = document.getElementById('client-section');

        orderSection.classList.add('hidden');
        clientSection.classList.remove('hidden');
    }
</script>
{% include "layouts/components/clientSearchModal.html" %}
{% endblock content %}
{% block js %}
<script>
    app.choosed_products = JSON.parse(document.getElementById("products").value);
</script>
{% endblock js %}