{% extends 'layouts/app/layout.html' %}

{% block content %}
<form id="save" action="" method="POST">
    {% csrf_token %}
    <div id="client-section" class="hiddenn">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border-light mb-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            Seleccionar Cliente
                        </h5>
                        <p class="card-text">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="" class="form-label">Seleccionar</label>
                                    <select id="client_selector" class="form-select">
                                        <option value="{{order.client.pk}}">{{order.client.name}}</option>
                                    </select>
                                    <small class="text-muted">Ingresa el nombre o codigo del cliente para filtrar la
                                        búsqueda, selecciona el cliente</small>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-primary pull-right"
                                        onclick="selectClient();">Siguiente</button>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden" id="order-section">
        <div class="row mb-3">
            <div class="col-md-6 col-lg-8">
                <div class="card border-light h-100">
                    <div class="card-body">
                        <p class="card-text">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="d-flex input-flex">
                                        <label for="client-ruc" class="col-form-label"><small>R.U.C:</small></label>
                                        <input type="text" id="client-ruc" disabled class="form-control readonly-input" value="{{order.client.identification}}"
                                            aria-describedby="">
                                    </div>
                                    <div class="d-flex input-flex">
                                        <label for="client-address"
                                            class="col-form-label"><small>Dirección</small></label>
                                        <input type="text" id="client-address" disabled
                                            class="form-control readonly-input" aria-describedby="" value="{{ direction }}">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="d-flex input-flex">
                                        <label for="client-rif" class="col-form-label"><small>Razón
                                                Social:</small></label>
                                        <input type="text" id="client-rif" disabled class="form-control readonly-input" value="{{ order.client.social_reason }}"
                                            aria-describedby="">
                                    </div>
                                    <div class="d-flex input-flex">
                                        <label for="client-phone"
                                            class="col-form-label"><small>Teléfono:</small></label>
                                        <input type="phone" disabled id="client-phone" value="{{ order.client.phone }}"
                                            class="form-control readonly-input" aria-describedby="">
                                    </div>
                                </div>

                            </div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-light h-100">
                    <div class="card-body">
                        <p class="card-text">
                            <div class="d-flex input-flex">
                                <label for="input-order-number" class="col-form-label"><small>Nota de Pedido
                                        N°:</small></label>
                                <input type="text" id="input-order-number" disabled class="form-control readonly-input" value="{{order.number}}"
                                    aria-describedby="">
                            </div>
                            <div class="d-flex input-flex">
                                <label for="input-date-today" class="col-form-label"><small>Fecha:</small></label>
                                <input type="text" id="input-date-today" disabled class="form-control readonly-input" value="{{order.created_at|date:'d/m/Y'}}"
                                    aria-describedby="" value="{{ today }}">
                            </div>
                            <div class="d-flex input-flex">
                                <label for="input-city" class="col-form-label"><small>Ciudad:</small></label>
                                <input type="text" id="input-city" disabled class="form-control readonly-input" value="{{order.client.city.name}}"
                                    aria-describedby="">
                            </div>
                            <div class="d-flex input-flex">
                                <label for="input-user" class="col-form-label"><small>Usuario:</small></label>
                                <input type="text" id="input-user" disabled class="form-control readonly-input"
                                    aria-describedby="" value="{{ auth_user.name }}">
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card border-light mb-3" style="min-height: 408px;">
                    <div class="card-body">
                        <p class="card-text">
                            <div class="row">
                                <div class="col-md-8 col-lg-8 form-horizontal form-faded">
                                    <div class="d-flex input-flex">
                                        <label for="client-email">Correo Electrónico:</label>
                                        <input type="text" class="form-control" name="client-email" id="client-email" value="{{order.client.mail}}" required 
                                            placeholder="">
                                    </div>
                                    <div class="d-flex input-flex">
                                        <label for="client-address">Dirección de Entrega:</label>
                                        <input type="text" class="form-control float-left" name="delivery_address" value="{{order.delivery_address}}" required
                                            id="client-address" placeholder="">
                                    </div>
                                    <div class="d-flex input-flex">
                                        <label for="transport_selector" class="form-label">Transporte:</label>
                                        <div class="input-flex-append">
                                            <select name="transport" id="transport_selector" class="form-select" title="Despliegue el bucador para seleccionar el transporte. Realice la
                                            búsqueda ingresando el nombre"
                                                required>
                                            <option value="{{order.transport.pk}}">{{order.transport.name}}</option></select>
                                        </div>
                                    </div>
                                    <div class="d-flex input-flex">
                                        <label for="payment-type">Condiciones de pago:</label>
                                        <input type="text" class="form-control float-left" name="client-address" 
                                            id="payment-type" placeholder="">
                                    </div>
                                    <div class="d-flex input-flex">
                                        <label for="payment-type">Pedido por:</label>
                                        <input type="text" class="form-control mb-0" name="request_by" minlength="8" value="{{order.request_by}}" onkeyup="this.value = this.value.toUpperCase();"
                                            maxlength="45" required>
                                    </div>

                                </div>
                                <div class="col-md-4 col-lg-4 py-2 d-flex justify-content-center align-items-center">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="inlineCheckbox1">Al Cobro</label>
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                            value="option1">
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="inlineCheckbox2">Pagado</label>
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2"
                                            value="option2">
                                    </div>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card border-light mb-3" style="min-height: 408px;">
                    <div class="card-body">
                        <div class="card-text text-bold text-upper d-flex justify-content-between align-items-center">
                            <p class="text-bold text-upper">Productos</p>
                            <a href="#clientSearchModal" data-bs-toggle="modal" class="btn btn-sm btn-primary">Añadir
                                Producto</a>
                        </div>
                        <div class="table-responsive">
                            <table class="table" id="checkout-table">

                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Codigo</th>
                                        <th>Descripción</th>
                                        <th>Cantidad</th>
                                        <th>U / M</th>
                                        <th>P.V.P Unitario Sugerido</th>
                                        <th>Descuento</th>
                                        <th>Precio de Venta Unitario</th>
                                        <th>Total Valor de Venta</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" name="client">
        <input type="hidden" name="client_code">
        <input type="hidden" name="products">

        <button type="button" class="btn btn-primary mb-3"
        onclick="showClientSelector();">Atrás</button>
        <button type="submit" class="btn btn-primary mb-3">Guardar</button>
        <input type="hidden" id="products" value="{{products}}"> 


</form>
<script type="text/javascript">
    function validateClient() {
        // TODO Validar
        // TODO Mostrar mensaje de error
        return true;
    }

    function selectClient() {
        if (!validateClient()) {
            return;
        }
        var clientSection = document.getElementById('client-section');
        var orderSection = document.getElementById('order-section');

        orderSection.classList.remove('hidden');
        clientSection.classList.add('hidden');
    }
    function showClientSelector() {
        if (!validateClient()) {
            return;
        }
        var clientSection = document.getElementById('client-section');
        var orderSection = document.getElementById('order-section');

        orderSection.classList.add('hidden');
        clientSection.classList.remove('hidden');
    }
</script>
{% include "layouts/components/clientSearchModal.html" %}
{% endblock content %}
{% block js %}
  
<script>
choosed_products = JSON.parse(document.querySelector("#products").value);
    repaintChoosedProducts();
</script>
{% endblock js %}