{% extends 'layouts/app/layout.html' %} {% block content %}
{% load bootstrap_pagination %}
<form action="/pedidos/{{ order.id }}/eliminar" id="form-delete" method="POST">
    <input type="hidden" name="order" id="delete-order" value="{{order.id}}">
    {% csrf_token %}
</form>
<form action="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Número</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <th scope="row">{{ order.id }}</th>
                                <td>{{ order.number }}</td>
                                <td>{{ order.date }}</td>
                                <td>{{ order.client.name }}</td>
                                <td>

                                    <div class="btn-group btn-group-sm" role="group" aria-label="button group">
                                        <a href="/pedidos/{{ order.id }}/ver"
                                            class="btn btn-light btn-outline-dark">Ver</a>
                                        {% if order.status == "INGRESADO" or auth_user.is_admin %}
                                        <a href="/pedidos/{{ order.id }}/editar"
                                            class="btn btn-light btn-outline-dark">Editar</a>
                                        {% endif %}
                                        <button type="button" onclick="deleteElement({{ order.id }});"
                                            class="btn btn-dark">Borrar</button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% bootstrap_paginate orders range=10 %}
                    <!-- show_first_last="true" -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.row root -->
</form>
<script>
    function deleteElement(id) {
        if (confirm('¿Está seguro de eliminar este elemento?')) {
            var action = "/pedidos/" + id + "/eliminar";
            document.getElementById('delete-order').value = id;
            document.getElementById('form-delete').action = action;
            document.getElementById('form-delete').submit();
        }
    }
</script>
{% endblock content %}