{% extends 'layouts/app/layout.html' %}

{% block content %}
<form id="save" action="" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <label for="" class="form-label">Número</label>
                            <input type="number" class="form-control" disabled value="{{register_id}}">
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="" class="form-label">Cliente</label>
                            <select name="client" id="client_selector" class="form-select" required></select>
                        </div>
                        <div class="col-12 col-md-3">
                            <label for="" class="form-label">Tomado el</label>
                            <input type="date" name="created_at" id="" class="form-control" required>
                        </div>
                        <div class="col-12 d-none">
                            <hr>
                        </div>
                        <div class="col-12 d-none">
                            <p class="text-bold text-upper text-secondary">Información del cliente</p>
                            <div class="row">
                                <div class="col-12 col-md-8">
                                    <label for="" class="form-label">Dirección</label>
                                    <input type="text" class="form-control" disabled>
                                </div>
                                <div class="col-12 col-md-4">
                                    <label for="" class="form-label">Identificación</label>
                                    <input type="text" class="form-control" disabled>
                                </div>
                                <div class="col-12 col-md-7">
                                    <label for="" class="form-label">País, Provincia, Cantón, Parroquia, Zona</label>
                                    <input type="text" class="form-control" disabled>
                                </div>
                                <div class="col-12 col-md-5">
                                    <label for="" class="form-label">Teléfonos</label>
                                    <input type="text" class="form-control" disabled>
                                </div>

                                <div class="col-12 col-md-7">
                                    <label for="" class="form-label">Dirección de entrega</label>
                                    <input type="text" class="form-control" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <hr>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="row align-items-end">
                                <div class="col-12 col-md-4">
                                    <label for="" class="form-label">Pedido por</label>
                                    <input type="text" class="form-control mb-0" name="request_by" minlength="8"
                                        maxlength="45" required>
                                </div>
                                <div class="col-12 col-md-4">
                                    <label for="" class="form-label">Vendedor</label>
                                    <select name="seller" id="seller_selector" class="form-select" required></select>
                                </div>
                                <div class="col-12 col-md-4">
                                    <label for="" class="form-label">Transporte</label>
                                    <select name="transport" id="transport_selector" class="form-select"
                                        required></select>

                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6 col-md-4">
                                    <label for="" class="form-label">Pago
                                        <span class="badge bg-primary" id="credit">
                                            -
                                        </span>
                                    </label>
                                </div>
                                <div class="col-6 col-md-4">
                                    <label for="" class="form-label">Plazo <span class="badge bg-primary"
                                            id="credit-days">-</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <hr>
                            <p class="text-bold text-upper text-secondary">Productos</p>
                            <a href="#clientSearchModal" data-bs-toggle="modal"
                                class="btn btn-sm btn-outline-dark">Añadir
                                producto</a>
                            <div class="table-responsive">
                                <table class="table" id="checkout-table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Cantidad</th>
                                            <th>Codigo</th>
                                            <th>Nombre</th>
                                            <th>Precio sugerido</th>
                                            <th>Descuento</th>
                                            <th>Precio venta</th>
                                            <th>Total venta</th>
                                            <th>IVA</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!-- /.row -->
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 d-none">
            <div class="card card-sticky">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-unstyled">
                            <tbody>
                                <tr>
                                    <td class="text-center">Subtotal</td>
                                    <td class="text-center"><span class="badge bg-secondary">100</span></td>
                                </tr>
                                <tr>
                                    <td class="text-center">IVA <span class="text-sm">(12%)</span></td>
                                    <td class="text-center"><span class="badge bg-secondary">12</span></td>
                                </tr>
                                <tr>
                                    <td class="text-center">Total</td>
                                    <td class="text-center"><span class="badge bg-secondary">112</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.row root -->
    <hr>
    <button class="btn btn-primary">Guardar</button>
    <input type="hidden" name="products">
</form>
{% include "layouts/components/clientSearchModal.html" %}
{% endblock content %}