{% extends 'layouts/app/layout.html' %}

{% block css %}
<style>
    [data-remove] {
        display: none;
    }

    .form-control.modifier {
        pointer-events: none !important;
        border: none !important;
    }
</style>
{% endblock css %}
{% block content %}
<div class="hiddenn" id="order-section">
    <h2 class="d-header">Notas de pedido</h2>
    <div class="row mb-3">
        <div class="col-12 col-md-6 col-lg-8">
            <div class="card border-light h-100">
                <div class="card-body">
                    <h5 class="text-bold">Información General</h5>
                    <p class="card-text">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-info-field">
                                    <p class="info-label">Razón social</p>
                                    <p class="info-text" id="client-rif">{{ order.client.social_reason }}</p>
                                </div>
                                <div class="d-info-field">
                                    <p class="info-label">RUC</p>
                                    <p class="info-text" id="client-ruc">{{ order.client.identification }}</p>
                                </div>
                                <div class="d-info-field">
                                    <p class="info-label">Teléfono</p>
                                    <p class="info-text" id="client-phone">{{ order.client.phone }}</p>
                                </div>
                                <div class="d-info-field">
                                    <p class="info-label">Observación</p>
                                    <p class="info-text" id="client-observation">{{ order.client.contact_2 }}</p>
                                </div>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card border-light">
                <div class="card-body">
                    <h5 class="text-bold">Información de Registro</h5>
                    <div class="row">
                        <div class="col-12">
                            <div class="d-info-field">
                                <p class="info-label">Nota del pedido</p>
                                <p class="info-text" id="client-name">#{{ order.number }}</p>
                            </div>
                            <div class="d-info-field">
                                <p class="info-label">Fecha</p>
                                <p class="info-text" id="client-name"> {{ order.date|date:"d/m/Y" }}</p>
                            </div>
                            <div class="d-info-field">
                                <p class="info-label">Estado</p>
                                <p class="info-text" id="client-name"> {{ order.status }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card border-light mb-3">
                <div class="card-body">
                    <h5 class="text-bold">Dirección</h5>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="d-info-field secondary">
                                <p class="info-label">Pais</p>
                                <p class="info-text" id="address-country">{{ order.client.country.name }}</p>
                            </div>

                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-info-field secondary">
                                <p class="info-label">Provincia</p>
                                <p class="info-text" id="address-province">{{ order.client.province.name }}</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-info-field secondary">
                                <p class="info-label">Cantón</p>
                                <p class="info-text" id="address-city">{{ order.client.city.name }}</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-info-field secondary">
                                <p class="info-label">Parroquia</p>
                                <p class="info-text" id="address-parish">{{ order.client.parish.name }}</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-info-field secondary">
                                <p class="info-label">Zona</p>
                                <p class="info-text" id="address-zone">{{ order.client.zone.name }}</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-info-field secondary">
                                <p class="info-label">Calle</p>
                                <p class="info-text" id="address-street">{{ order.client.street }}</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-info-field secondary">
                                <p class="info-label">Número</p>
                                <p class="info-text" id="address-number">{{ order.client.street_number }}</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-info-field secondary">
                                <p class="info-label">Intersección</p>
                                <p class="info-text" id="address-interception">{{ order.client.interception }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card border-light mb-3">
                <div class="card-body">
                    <h5 class="text-bold">Información de contacto</h5>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="d-info-field">
                                <p class="info-label">Correo electronico</p>
                                <p class="info-text">{{ order.email }}</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-info-field">
                                <p class="info-label">Dirección de entrega</p>
                                <p class="info-text">{{order.delivery_address}}</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-info-field">
                                <p class="info-label">Transporte</p>
                                <p class="info-text">{{order.transport.name}}</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-info-field">
                                <p class="info-label">Condiciones de pago</p>
                                {% if order.payment == "CREDITO" %}
                                <p class="info-text">{{ order.payment }} - {{order.deadline}}</p>
                                {% else %}
                                <p class="info-text">{{ order.payment }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-info-field">
                                <p class="info-label">Pedido por</p>
                                <p class="info-text">{{order.request_by}}</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-info-field secondary">
                                <p class="info-label">Dirección de Establecimiento</p>
                                <p class="info-text" id="client-deliver-address">-</p>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="d-info-field">
                                <p class="info-label">Observaciones nota de pedido</p>
                                <p class="info-text">{{order.comment }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card border-light mb-3" style="min-height: 408px;">
                <div class="card-body">
                    <div class="card-text text-bold text-upper d-flex justify-content-between align-items-center">
                        <p class="text-bold">Productos</p>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-unstyled table-stripped text-center" id="checkout-table">

                            <thead>
                                <tr class="text-center">
                                    <th></th>
                                    <th>Codigo <br> Articulo</th>
                                    <th>Descripción</th>
                                    <th>Cantidad</th>
                                    <th>U/M</th>
                                    <th>P.V.P <br> Unitario <br> Sugerido</th>
                                    <th>Descuento <br> %</th>
                                    <th>Precio Venta Unitario <br> S/IVA</th>
                                    <th>Total Valor de Venta <br> S/IVA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(product,index) in choosed_products" :key=index>
                                    <td></td>
                                    <td>{$ product.code $}</td>
                                    <td>{$ product.name $}</td>
                                    <td>
                                        {$ product.count $}
                                    </td>
                                    <td>{$ product.measure $}</td>
                                    <td>
                                        ${$ product.price $}
                                    </td>
                                    <td>
                                        {$ product.discount $}%
                                    </td>
                                    <td>{$ (product.price - product.price * (product.discount / 100)).toFixed(4) $}
                                    </td>
                                    <td>{$ (product.count * (product.price - product.price * (product.discount /
                                        100))).toFixed(4) $}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card border-light mb-3">
                <div class="card-body">
                    <p class="text-bold">Resumen</p>
                    <div class="row">
                        <div class="col-12">
                            <div class="d-info-field secondary">
                                <p class="info-label">venta bruta</p>
                                <p class="info-text" id="total-gross">{$ gross_value.toFixed(2) $}</p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-info-field secondary">
                                <p class="info-label">descuento</p>
                                <p class="info-text" id="total-discount">{$ discount.toFixed(2) $}</p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-info-field secondary">
                                <p class="info-label">Total valor venta</p>
                                <p class="info-text" id="total-sell-value">{$ subtotal.toFixed(2) $}</p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-info-field secondary">
                                <p class="info-label">iva (12%)</p>
                                <p class="info-text" id="total-iva">{$ iva.toFixed(2) $}</p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-info-field secondary">
                                <p class="info-label">Total a pagar</p>
                                <p class="info-text" id="total-value">{$ total.toFixed(2) $}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="products" value="{{products}}" disabled>

    <div class="d-flex justify-content-end gap-2 pb-3">
        <a href="#" data-target="{{order.number}}" id="send_to_email" class="btn btn-outline-primary"><i
                class="fa fa-envelope"></i></a>
        <a href="/get/pdf/{{order.number}}" class="btn btn-outline-primary"><i class="fa fa-file-pdf"></i></a>
        <!-- <button type="submit" class="btn btn-primary">Guardar <i class="fa fa-save"></i></button> -->
    </div>
    {% endblock content %}
    {% block js %}
    <script>
        app.choosed_products = JSON.parse(document.getElementById("products").value);
    </script>
    {% endblock js %}