{% extends 'layouts/app/layout.html' %}
{% block css %}
    <style>
        [data-remove]{
            display: none;
        }
    </style>
{% endblock css %}
{% block content %}
{% csrf_token %}
<div class="row">
    <div class="col-12 col-md-9">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <label for="" class="form-label">Número</label>
                        <input type="number" class="form-control" disabled value="{{order.number}}">
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="" class="form-label">Cliente</label>
                        <input type="text" value="{{order.client.name}}" class="form-control" disabled>
                    </div>
                    <div class="col-12 col-md-3">
                        <label for="" class="form-label">Tomado el</label>
                        <input type="date" name="created_at" id="" class="form-control"
                            value="{{order.order_date|date:'Y-m-d'}}" disabled>
                    </div>
                    <div class="col-12 d-none">
                        <hr>
                    </div>
                    <div class="col-12 d-none">
                        <p class="text-bold text-upper text-secondary">Información del cliente</p>
                        <div class="row">
                            <div class="col-12 col-md-8">
                                <label for="" class="form-label">Dirección</label>
                                <input type="text" class="form-control" disabled>
                            </div>
                            <div class="col-12 col-md-4">
                                <label for="" class="form-label">Identificación</label>
                                <input type="text" class="form-control" disabled>
                            </div>
                            <div class="col-12 col-md-7">
                                <label for="" class="form-label">País, Provincia, Cantón, Parroquia, Zona</label>
                                <input type="text" class="form-control" disabled>
                            </div>
                            <div class="col-12 col-md-5">
                                <label for="" class="form-label">Teléfonos</label>
                                <input type="text" class="form-control" disabled>
                            </div>

                            <div class="col-12 col-md-7">
                                <label for="" class="form-label">Dirección de entrega</label>
                                <input type="text" class="form-control" disabled>
                            </div>
                            <div class="col-12 col-md-5">
                                <label for="" class="form-label">Pedido por</label>
                                <input type="text" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="row align-items-end">
                            
                            <div class="col-12 col-md-3">
                                <label for="" class="form-label">Pedido por</label>
                                <input type="text" class="form-control" disabled value="{{order.request_by}}">
                            </div>
                            <div class="col-12 col-md-4">
                                <label for="" class="form-label">Vendedor</label>
                                <input type="text" class="form-control" value="{{order.seller.names}}" disabled>

                            </div>
                            <div class="col-12 col-md-4">
                                <label for="" class="form-label">Transporte</label>
                                <input type="text" class="form-control" value="{{order.transport.name}}" disabled>

                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6 col-md-2">
                                <label for="" class="form-label">Pago <span
                                        class="badge bg-primary">CREDITO</span></label>
                            </div>
                            <div class="col-6 col-md-2">
                                <label for="" class="form-label">Plazo <span class="badge bg-primary"
                                        id="credit-days">{{order.client.credit_days}}</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr>
                        <p class="text-bold text-upper text-secondary">Productos</p>
                        <div class="table-responsive">
                            <table class="table" id="checkout-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Cantidad</th>
                                        <th>Codigo</th>
                                        <th>Nombre</th>
                                        <th>Precio sugerido</th>
                                        <th>Descuento</th>
                                        <th>Precio venta</th>
                                        <th>Total venta</th>
                                        <th>IVA</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="card card-sticky">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-unstyled">
                        <tbody>
                            <tr>
                                <td class="text-center">Subtotal</td>
                                <td class="text-center"><span class="badge bg-secondary">{{subtotal}}</span></td>
                            </tr>
                            <tr>
                                <td class="text-center">IVA <span class="text-sm">(12%)</span></td>
                                <td class="text-center"><span class="badge bg-secondary">{{iva}}</span></td>
                            </tr>
                            <tr>
                                <td class="text-center">Total</td>
                                <td class="text-center"><span class="badge bg-secondary">{{total}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.row root -->
<input type="hidden" name="products">
<input type="hidden" id="products" value="{{products}}" disabled>
{% include "layouts/components/clientSearchModal.html" %}
{% endblock content %}
{% block js %}
<script>
    choosed_products = JSON.parse(document.querySelector("#products").value);
    repaintChoosedProducts();
</script>
{% endblock js %}