{% extends 'layouts/app/layout.html' %} {% block content %}
<form action="POST">
  {% csrf_token %}
  <div class="row align-items-center">
  <div class="col"></div>
    <div class="col" style="">
      <div class="card">
        <div class="card-header" style="">Pedidos</div>
        <div class="card-body" style="">
        <center>
        <a href="/pedidos" class="btn btn-dark">Listar</a>
        <hr>
        <a href="/pedidos/registrar" class="btn btn-dark">Registrar</a>
        </center>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
  <!-- /.row root -->
</form>
{% endblock content %}
