<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incamep</title>
    {% include "layouts/components/css.html" %}
    {% block css %}{% endblock css %}
</head>

<body>
    <div id="app">
        <div class="container-fluid py-3">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>
    </div>

    {% include "layouts/components/js.html" %}
    {% block js %}{% endblock js %}
</body>

</html>