<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incamep</title>
    {% include "layouts/components/css.html" %}
    {% block css %}{% endblock css %}
</head>

<body class="d-flex flex-column">
    {% include 'layouts/components/nav.html' %}

    <div id="app" class="h-100 app flex-grow-1">
        <div class="container-fluid h-100 py-3">
            {% block content %}{% endblock content %}
        </div>
    </div>
    <div id="sidebar" class="sidebar">
        <a href="/" class="sidebar-icon">
            <img class="w-100" src="/static/img/logo.png">
        </a>
        <a href="#clients" class="sidebar-item active">
            <div class="sidebar-item-icon"><i class="fa fa-users"></i></div>
            <div class="sidebar-item-text">Clientes <i class="fa fa-caret-right"></i></div>
        </a>
        <a class="sidebar-item" href="#notas-pedidos-collapse" data-bs-toggle="collapse">
            <div class="sidebar-item-icon"><i class="fa fa-edit"></i></div>
            <div class="sidebar-item-text">Notas de Pedidos <i class="fa fa-caret-right"></i></div>
        </a>
        <div class="sidebar-dropdown">
            <div id="notas-pedidos-collapse" class="collapse">
                <a href="{% url 'register_order' %}" class="sidebar-dropdown-item">Crear Nota de Pedido</a>
                <a href="{% url 'orders_list' %}" class="sidebar-dropdown-item">Consultar Nota de Pedido</a>
            </div>
        </div>
        <div class="sidebar-item">
            <div class="sidebar-item-icon"><i class="fa fa-home"></i></div>
            <a href="#" class="sidebar-item-text">Almacén <i class="fa fa-caret-right"></i></a>
        </div>
        <a href="#" class="sidebar-item">
            <div class="sidebar-item-icon"><i class="fa fa-folder"></i></div>
            <div class="sidebar-item-text">Administrativo <i class="fa fa-caret-right"></i></div>
        </a>

        <div class="sidebar-toggler">
            <button id="toggle-sidebar" class="btn btn-sm btn-light">
                <i class="fa fa-arrow-right"></i>
            </button>
        </div>
    </div>
    {% include "layouts/components/toast.html" %}
    {% include "layouts/components/js.html" %}
    {% block js %}{% endblock js %}
</body>

</html>