html,
body {
    height: 100%;
    min-height: 100vh;
    background-color: #E5E5E5;
    position: relative;
}

.app {
    height: 100%;
    margin-left: 60px;
}

a {
    text-decoration: none;
}

.text-bold {
    font-weight: bold;
}

.text-upper {
    text-transform: uppercase;
}

.text-sm {
    font-size: 0.75em;
}

.form-control {
    margin-bottom: 10px;
}

.form-floating {
    position: relative !important;
    padding: 0 !important;
    height: auto !important;
}

.form-floating label {
    top: calc(50% - 1rem) !important;
    height: auto !important;
    padding: 0 !important;
    margin: 0 !important;
    left: 0.75rem !important;
    font-size: 1rem !important;

}

.form-floating input {
    height: auto !important;
    padding: .5rem .75rem !important;

}

.form-floating input:focus~label,
.form-floating input:not(:placeholder-shown)~label {
    top: 5px !important;
    left: 3px !important;
    font-size: 0.75rem !important;
}

.table.table-unstyled td {
    border: none !important;
}

.table.table-unstyled th {
    color: #044F8B;
    border-color: #044F8B;
}

@media(min-width:767.98px) {
    .card.card-sticky {
        position: sticky;
        top: 20px;
    }
}

.shadow-bottom {
    -moz-box-shadow: 3px 2px 5px 6px #ccc;
    -webkit-box-shadow: 3px 2px 5px 6px #ccc;
    box-shadow: 3px 2px 5px 6px #ccc;
}

.text-primary {
    color: #005188;
}

.hidden {
    display: none;
}

.readonly-input {
    border: none !important;
    background: none !important;
    border-bottom: 1px solid #00000080 !important;
    border-radius: 0;
}

.input-flex label {
    flex-grow: 1;
}

.input-flex input,
.input-flex select,
.input-flex .input-flex-append {
    max-width: 300px;
    width: 100%;
}

.form-check-input:checked,
.btn-primary {
    background: #044F8B;
}

.form-faded .select2-selection,
.form-faded .form-control {
    box-shadow: 0px 5px 5px #8e8e8ea4;
    border: none !important;
    margin-bottom: 10px !important;
}

.sidebar {
    position: fixed;
    width: 60px;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 8px 5px;
    background-color: #ffffff;
    border: 1px solid #DFE0EB;
    font-weight: 600;
    transition: all 0.2s ease-in;
    z-index: 1000;
}


.sidebar.active {
    width: 300px;
}

.sidebar .sidebar-icon {
    display: block;

    max-width: 50px;
    margin: 0;
    padding: 5px 5px 20px 5px;
}

.sidebar .sidebar-item {

    display: block;
    position: relative;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    color: #044F8B;
    border-radius: 8px;
    border: 1px solid #DFE0EB;
}

.sidebar .sidebar-item.active {
    color: white;
    background: #044F8B;

}

.sidebar .sidebar-item.active .sidebar-item-text {
    color: white;
    background: #044F8B;

}

.sidebar .sidebar-item .sidebar-item-icon {
    margin-right: 0px;
    text-align: center;
}

.sidebar .sidebar-item .sidebar-item-text {
    color: #044F8B;
    text-decoration: none;
    width: 0;
    height: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .sidebar-dropdown {
    border-left: 2px solid #044F8B;
    display: none;
}

.sidebar.active .sidebar-dropdown {
    border-left: 2px solid #044F8B;
    display: block;
}

.sidebar-dropdown .sidebar-dropdown-item {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #044F8B;
}


.sidebar.active .sidebar-item {
    display: flex;
    align-items: center;
    justify-content: stretch;
}


.sidebar.active .sidebar-item .sidebar-item-text {
    width: 100%;
    height: auto;
    opacity: 1;
}

.sidebar.active .sidebar-item .sidebar-item-icon {
    margin-right: 10px;
}

.sidebar .sidebar-toggler {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    color: #044F8B !important;
}

.sidebar .sidebar-toggler * {
    color: #044F8B !important;
}

.sidebar.active .sidebar-toggler {
    text-align: right;
}

.select2-container--bootstrap4 {
    position: relative;
}

.select2-container--bootstrap4 .select2-selection__arrow b {
    border-color: #044f8b transparent transparent transparent !important;
    border-width: 8px 6px 0 !important;
    margin-top: -3px !important;
    margin-left: -6px !important;
    transition: all 0.2s ease-in;
}

.select2-container--bootstrap4.select2-container--open .select2-selection__arrow b {
    border-color: #044f8b transparent transparent transparent !important;
    transform: rotate(180deg);
}

.select2.select2-container.select2-container--bootstrap4 {
    width: 100% !important;
}

.wizard-header {
    display: flex;
    justify-content: stretch;
    align-items: center;
    width: 100%;
    color: rgb(151, 151, 151);
    font-weight: 600;
}

.card {
    overflow: hidden;
}

.wizard-header .wizard-tab {
    flex: 1 1 0px;
    border-radius: 0;
    padding: 15px 18px;
    text-align: center;
}

.wizard-header .wizard-tab:not(:last-of-type) {
    border-right: 1px solid #044F8B;
}

.wizard-header .wizard-tab.active {
    color: #044F8B;
}

.d-header {
    color: #044F8B;
}

.d-info-field {
    padding: 4px 8px;
    border: 1px solid #DFE0EB;
    border-radius: 8px;
    margin-bottom: 10px;
    position: relative;
}

.d-info-field.secondary {
    background: #DFE0EB;
}

.d-info-field .info-label {
    font-size: 10px;
    padding: 0;
    margin: 0;
    color: rgb(112, 112, 112);
    text-transform: uppercase;
}

.d-info-field .info-text {
    padding: 0;
    margin: 0;
    border: none !important;
    background: none !important;
    width: 100%;
    outline: none !important;
    box-shadow: none !important;
}

.table input{
    max-width: 120px;
    border: none;
    outline: none;
}
.table td{
    max-width: 300px;
}
.table input:focus{
    border: auto;
    outline: auto;
}

.m-toast{
    position: fixed;
    bottom: 5px;
    left: 65px;
    padding: 8px 10px;
    color: white;
    border-radius: 10px;
    pointer-events: none;
    z-index: 1000;
}
.placeholder{
    position: relative;
    display: flex;
    justify-content: center;
}
.placeholder input{
    text-align: center;
}

.placeholder.prepend::before{
    content: attr(data-placeholder);
    display: inline;
}
.placeholder.append::after{
    content: attr(data-placeholder);
    display: inline;
}