<div class="modal fade" id="clientSearchModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="clientSearchLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clientSearchLabel">Seleccionar producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/pedidos/get/products" method="GET" class="d-flex align-items-center search-product-form" id="productForm">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control m-0">
                        <input type="hidden" name="page_count" value="5">
                        <input type="hidden" name="page" value="1">
                        <button type="submit" class="btn btn-outline-success">Buscar</button>
                    </div>
                    <hr>
                </form>
                <hr>
                <div class="table-responsive">
                    <table class="table" id="product-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Codigo</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <ul class="pagination pagination-sm" id="productsPaginator">
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>