<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="/static/js/select2.full.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/vue.js"></script>
<script src="/static/js/apps/orders.js"></script>
<script src="/static/js/app.js"></script>
