<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-bottom justify-content-end">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="nav navbar-nav mb-2 mb-lg-0">
            {% if auth_user != None %}
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"><b>{{ auth_user.name }}</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout" tabindex="-1" aria-disabled="true">Cerrar sesión</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/auth/login">Login</a>
            </li>
            {% endif %}
        
        <li class="nav-item">
            
        </li>
        
    </ul>
</div>
</div>
</nav>