{% extends "emails/layout.html" %}

{% block content %}
<p>
    Saludos {{order.client.contact_1}}
</p>
<p>
    Gracias por confiar en Incamep, te informamos que te hemos generado
    una nueva nota de pedido en nuestro sistema.
</p>
<p>
    Para verificar la nota de pedido descarga el archivo adjunto en este
    correo electrónico.
</p>
<p>
    Atentamente
</p>
<p>
    info@incamep.com
</p>
{% endblock content %}