<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <style type="text/css">
        @page {
            size: A4 portrait;
            margin: 1cm;
        }

        html,
        body {
            font-size: 1rem;
        }

        table td,
        table th {
            text-align: left !important;
            width: auto;
            vertical-align:top;
        }
    </style>
    {% block css %}

    {% endblock css %}
</head>

<body>

    <div class="container">
        {% block content %}{% endblock content %}
    </div>

</body>

</html>