{% extends 'pdf/layout.html' %}

{% block css %}
<style>
    p {
        margin: 0;
        -pdf-keep-with-next: true;
    }

    p.separator {
        -pdf-keep-with-next: false;
        font-size: 6pt;
    }

    .footer {
        text-align: right;
        padding-top: 50pt;
    }

    table {
        font-size: 10px;
    }

    td,
    th {
        padding: 0 3px;
        text-align: center !important;
    }

    .size-sm {
        width: 65px;
    }

    .text-right {
        text-align: right;
    }

    .text-center {
        text-align: center;
    }

    .text-left {
        text-align: left;
    }

    li {
        padding-bottom: 5pt;
    }
</style>
{% endblock css %}

{% block content %}
{% load humanize %}

<table>
    <tbody>
        <tr>
            <td style="width: 100px;">
                <img src="{{base_dir}}\tmp\logo.png" alt="" width="100px" style="display: inline-block;height:auto">
            </td>
            <td>
                <br>
                INCAMEP <br>
                RUC: 0990656908001 <br>
                Dirección OFICINA: Km. 23.5 vía a Daule frente a lago de Capeira 300 metros hacia adentro. <br>
            </td>
        </tr>
    </tbody>
</table>
<br>
<h1>Nota de pedido Nro. <span style="padding-left: 50px;">{{ order.number }}</span></h1>
<p>Elaborado: {{order.date|date:"D d M Y"}}</p>

<hr>
<p>Cliente: {{ order.client.pk }}</p>
<p>RUC: {{order.client.identification}}</p>
<p>Razón Social: {{order.client.social_reason}}</p>
<p>Calle, Numero, Intercección: {{order.client.street_address}}</p>
<p>Provincia, Cantón, Parroquia, Zona: {{order.client.address}}</p>
<p>Teléfonos: {{order.client.phone}}</p>
<p>Referencia: {{order.client.reference}}</p>
<p>Pedido por: {{ order.request_by }}</p>
<p>Dirección de entrega: {{ order.delivery_address }}</p>
<p>Transporte: {{ order.transport.name }}</p>
<p>Vendedor: {{ order.seller.names }}</p>
<p>Condiciones de pago: {{order.payment}} {{ order.deadline }} día(s)</p>

<hr>
<table class="">
    <thead>
        <th>Codigo</th>
        <th>Descripción</th>
        <th>Cantidad</th>
        <th>U/M</th>
        <th>P.V.P</th>
        <th>Descuento</th>
        <th>P.V.U</th>
        <th>Total</th>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td style="width: 110px">{{ product.code }}</td>
            <td>{{ product.name }}</td>
            <td class="size-sm">

                {% if product.has_iva %}
                i
                {% endif %}
                {{ product.count }}</td>
            <td style="width: 40px;">{{ product.u_m  }}</td>
            <td style="width: 45px;">{{ product.price|floatformat:4|intcomma  }}</td>
            <td class="size-sm">{{ product.discount_percent|floatformat:2|intcomma  }} %</td>
            <td style="width: 45px;">{{ product.pvp|floatformat:4|intcomma  }}</td>
            <td style="width: 45px;">{{ product.total|floatformat:2|intcomma  }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<div class="text-right">
    <p>VALOR BRUTO: {{ summary.price|floatformat:2|intcomma  }}</p>
    <p>DESCUENTO: {{ summary.discount|floatformat:2|intcomma  }}</p>
    <p>TOTAL VALOR VENTA: {{ summary.sell_price|floatformat:2|intcomma  }}</p>
    <p>I.V.A: {{ summary.iva|floatformat:2|intcomma  }}</p>
    <p>TOTAL: {{ summary.total|floatformat:2|intcomma  }}</p>
</div>
<table style="margin-top: 50pt;">
    <tr>
        <td style="text-align:center; margin: 0; padding: 5pt;">
            <hr style="margin: 0;">
            ELABORADO POR
        </td>
        <td style="text-align:center; margin: 0; padding: 5pt;">
            <hr style="margin: 0;">
            APROBADO POR
        </td>
    </tr>
</table>
<div class="footer">Impreso el: {{today|date:"d/m/Y h:m a"}}</div>


<pdf:nextpage />

<!-- Next page -->
<h1 class="text-center">LEA CUIDADOSAMENTE LAS CONDICIONES Y RECOMENDACIONES:</h1>
<ol>
    <li>
        <b>CREDITOS:</b> Los pagos deben realizarse en la Fecha Pactada o en el tiempo acordado previamente
        determinado, caso contrario debe considerar pagar del 1% de interés mensual.
    </li>
    <li>
        <b>PAGOS:</b> Los cheques deben ser girados a nombre de INCAMEP únicamente.
    </li>
    <li>
        <b>RESPONSABILIDADES:</b> Incamep no se responsabiliza por préstamos de dinero, o negociaciones
        personales entre el cliente y el ejecutivo de ventas.
    </li>
    <li>
        <b>DEPOSITOS:</b> En caso de querer cancelar su factura ponemos a su disposición las siguientes cuentas de
        Bancos:
        <br>
        <i style="padding-left: 5pt;">BANCO PICHINCHA CUENTA CORRIENTE NUMERO: 3134595604</i>
        <br>
        <i style="padding-left: 5pt;">BANCO PICHINCHA CUENTA AHORROS NUMERO: 3632868700</i>
        <br>
        <i style="padding-left: 5pt;">BANCO GUAYAQUIL CUENTA CORRIENTE NUMERO: 1394860</i>
        <br>
        <i style="padding-left: 5pt;">BANCO BOLIVARIANO CUENTA CORRIENTE NUMERO: 0915025972</i>
        <br>
        <i style="padding-left: 5pt;">BANCO PRODUBANCO CUENTA AHORROS NUMERO: 12006576791</i>
    </li>
    <li>
        <b>TRANSPORTE:</b> El cliente asume toda la responsabilidad de la transportación de la mercadería en lo que se
        refiere a
        perdidas, así como del pago del flete por transporte, a menos que exista arreglo especial en contrario.
        Incamep en caso de ser envíos a otras ciudades fuera de Guayaquil despachara hasta el transporte solicitado
        por
        el cliente.
    </li>
    <li>
        <b>RECIBO DE CAJA:</b> Al cancelar la factura debe recibir un Recibo De Caja diseño especial por Incamep.
        Este
        documento es el único que avala la cancelación de sus facturas. Usted debe exigir su recibo de caja siempre.
    </li>
    <li>
        <b>RECLAMOS:</b> Por despachos incorrectos de mercaderías por parte de la Compañía, el cliente tiene un lapso de
        72
        horas MAXIMO a partir de la recepción de la mercadería para presentar el reclamo. Puede notificar al email
        info@incamep.com, CELULAR WHATSAPP: 593 4 371-1200 o al PBX 04 23711200
    </li>
</ol>
{% endblock %}